{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!
{% endblock %}

{% block body %}
	<div class="container">
	<a class="btn btn-primary" href="creation_patient" role="button">Ajouter un séjour</a>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Id du Patient</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Date de Naissance</th>
					<th scope="col">Id Séjour</th>
					<th scope="col">Numéro de chambre</th>
					<th scope="col">Numéro de lit</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for patient in patients %}
				<tr>
					<th scope="row">{{patient.id}}</th>
					<td>{{patient.nom}}</td>
					<td>{{patient.prenom}}</td>
					<td>{{patient.date}}</td>
					<td>salut</td>
					<td>salut</td>
					<td>salut</td>
					<td><a href="modifier_patient">Modifier</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{{ form (PatientController) }}
{% endblock %}
