<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	 	
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}

		{% block css %}{% endblock %}

	</head>
	<body>
	{% if app.request.get('_route') != 'security_login' %}
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link nav-item{% if (app.request.pathInfo == path('sejour')) %} active{% endif %}" href="{{path('sejour')}}">Séjour</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-item{% if (app.request.pathInfo == path('service')) %} active{% endif %}" href="{{path('service')}}">Service</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-item{% if (app.request.pathInfo == path('infirmier')) %} active{% endif %}" href="{{path('infirmier')}}">Infirmier</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-item{% if (app.request.pathInfo == path('patient')) %} active{% endif %}" href="{{path('patient')}}">Patient</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-item{% if (app.request.pathInfo == path('chambre')) %} active{% endif %}" href="{{path('chambre')}}">Chambre</a>
					</li>
					{% if 'ROLE_ADMIN' in app.user.roles %}
					<li class="nav-item">
						<a class="nav-link nav-item{% if (app.request.pathInfo == path('security_register')) %} active{% endif %}" href="{{path('security_register')}}">Inscription</a>
					</li>
					{% endif %}
				</ul>
				<div class="d-flex" style="margin-left:400px">
					<a class="nav-link" href="{{path('security_logout')}}">Déconnexion</a>
				</div>
			</div>
		</nav>
		{% endif %}
		{% block body %}{% endblock %}
	</body>
</html></body></html>
