{% extends 'base.html.twig' %}

{% block title %}Hello InfirmierController!
{% endblock %}

{% block body %}
	<div class="container">
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Id de l'infirmier</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Date de Naissance</th>
					<th scope="col">Service</th>
					<th scope="col">Adresse mail</th>
				</tr>
			</thead>
			<tbody>
				{% for infirmier in infirmiers %}
				<tr>
					<th scope="row">{{infirmier.id}}</th>
					<td>{{infirmier.nom}}</td>
					<td>{{infirmier.prenom}}</td>
					<td>{{infirmier.date_naissance}}</td>
					<td>{{infirmier.service}}</td>
					<td>{{infirmier.mail}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
