{% extends 'base.html.twig' %}

{% block title %}Séjour
{% endblock %}

{% block body %}
	<div class="container">
	<a class="btn btn-primary" href="ajout_sejour" role="button">Créer un séjour</a>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Id Séjour</th>
					<th scope="col">Nom du patient</th>
					<th scope="col">Prenom du patient</th>
					<th scope="col">Date d'entée</th>
					<th scope="col">Date de sortie</th>
					<th scope="col">Nom du service</th>
					<th scope="col">Numéro de chambre</th>
					<th scope="col">Numéro de lit</th>
					<th scope="col">Problème</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for sejour in sejours %}
				<tr>
					<th scope="row">{{ sejour.id_sejour }}</th>
					<td>{{sejour.nom}}</td>
					<td>{{sejour.prenom}}Yo</td>
					<td>{{sejour.date_entree_sejour}}</td>
					<td>{{sejour.date_sortie_sejour}}</td>
					<td>{{sejour.nom_service}}</td>
					<td>{{sejour.num_chambre}}</td>
					<td>{{sejour.num_lit}}</td>
					<td>{{sejour.probleme}}</td>
					<td><a href="modifier_sejour">Modifier</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
